version: '3.8'

services:
  ros2:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/ros2_ws
    network_mode: host
    privileged: true
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - LIBGL_ALWAYS_SOFTWARE=1
    stdin_open: true
    tty: true